/* ul {
    position: relative;
    top: 0;
    width: 100%;
}

li {
    display:inline-flex;
} */

a {
    padding: 10px;
  }

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-icon {
    border-radius: 50%;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}